
@{
    ViewData["Title"] = "Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=container>
    <div>
        <h4 class="modal-title" style="text-align:center; color:red;">ERİŞİM ENGELLENDİ</h4>
        <p style="font-size:18px;">Bu işlem için yetkiniz bulunmamaktadır.</p>
        <p style="font-size:16px;">Yetki verilmesi için lütfen iletişim kısmından bize ulaşınız.</p>
        <a class="btn btn-primary" href="#" onclick="history.back();">Geri Dön</a>
    </div>
</div>