@model WebApplication1.Models.ViewModels.EditPasswordViewModel
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container col-md-4 card text-center mt-3" style="background-color:grey;border-radius:0.5rem">
        <h6 class="h2 m-3 fw-normal">Parole Güncelleme</h6>
        @using (Html.BeginForm())
        {                      
            <div>
              <b>Eski şifre</b><br />
              @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control" ,@type = "password"})
              @Html.ValidationMessageFor(model => model.OldPassword, "", new { @style = "color:red"})
            </div>

            <div>
              <b>Yeni şifre</b><br />
              @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control",@type = "password" })
              @Html.ValidationMessageFor(model => model.NewPassword, "", new { @style = "color:red"})
            </div> 
            
            <div class="pt-2 text-center" >
                  <button class="btn btn-primary">Güncelle</button>
                  <a class="btn btn-danger" href="#" onclick="history.back();">İptal</a>
            </div>     
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>