@model WebApplication1.Models.ViewModels.UpdatePasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 


 

@if (ViewBag.State == null)
{
    <form asp-action="UpdatePassword">
        <div class="container col-md-4 mt-5 card" style="text-align:center;background-color:grey">  
            <h3>Şifre Güncelle</h3>
        <table>
            <tr>
                <td colspan="3"><div asp-validation-summary="All"></div></td>     
            </tr>
            
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input asp-for="Password" /></td>
                <td><span asp-validation-for="Password"></span></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Şifreyi Güncelle" /></td>
            </tr>
        </table>
        </div>
    </form>
}
else
{
    if (ViewBag.State)
    {
        @:<div class="alert-success">Şifre başarıyla güncellenmiştir.</div>
    }
    else
    {
        @:<div class="alert-success">Şifreyi güncellerken beklenmeyen hatayla karşılaşıldı.</div>
    }
}