@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <div class="row text-center py-3">
        <div class="col-lg-4">
            <img src="/img/download.png" width="200" height="200" />
            <h3 class="py-2">Gelen Evrak</h3>
            <a class="btn btn-outline-light" style="border-radius:5rem" href="/GelenEvrak/Index">Detaylar »</a>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
            <img src="/img/upload.png"  width="200" height="200"/>
            <h3 class="py-2">Giden Evrak</h3>
            <a class="btn btn-outline-light" style="border-radius:5rem" href="/GidenEvrak/Index">Detaylar »</a>
        </div><!-- /.col-lg-4 -->
        
         <div class="col-lg-4 ">
            <img src="/img/research.png" width="200" height="200" />
            <h3 class="py-2">Kullanıcılar</h3>
            <a class="btn btn-outline-light" style="border-radius:5rem"  href="/User/Index">Detaylar »</a>
        </div><!-- /.col-lg-4 -->      
    </div>
}
else
{
    <div class="row text-center py-3">
        <div class="col-lg-6 ">
            <img src="/img/download.png" width="200" height="200" />
            <h3 class="py-2">Gelen Evrak</h3>
            <a class="btn btn-outline-light" style="border-radius:5rem" href="/GelenEvrak/Index">Detaylar »</a>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-6">
            <img src="/img/upload.png"  width="200" height="200"/>
            <h3 class="py-2">Giden Evrak</h3>
            <a class="btn btn-outline-light" style="border-radius:5rem" href="/GidenEvrak/Index">Detaylar »</a>
        </div><!-- /.col-lg-4 -->   
    </div>
}



    
